:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey700: hsl(0, 0%, 20%);
  --grey800: hsl(0, 0%, 12%);
  --grey900: hsl(0, 0%, 8%);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

main {
  background-color: var(--grey900);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  box-sizing: border-box;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--grey800);
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 2rem auto;
  padding: 7.5%;
  max-width: 328px;
  box-sizing: border-box;
}

.avatar {
  border-radius: 50%;
  width: 31.5%;
  margin-bottom: 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.location {
  color: var(--green);
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.profileDesc {
  font-weight: 400;
  font-size: 0.875rem;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5rem;
}

.sLink {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 600;
  margin: 0.5rem auto;
  color: var(--white);
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  background-color: var(--grey700);
  font-weight: bold;
  transition: all ease-in-out 500ms;
}

.sLink:hover {
  color: var(--grey900);
  background-color: var(--green);
}

@media screen and (min-width: 400px) {
  .container {
    padding: 2.5rem;
    max-width: 384px;
  }
  .avatar {
    width: 5.5rem;
  }

  .location {
    font-size: 0.894rem;
  }

  .profileDesc {
    font-size: 0.894rem;
  }
}

.attribution {
  display: block;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
